[user]
	name = adacola
	email = adacola255@gmail.com
[merge]
	ff = false
[pull]
	ff = only
[alias]
	s = status
	w = switch
	a = add
	aa = add -A
	unstage = reset HEAD
	c = commit -m
	amend = commit --amend
	b = branch
	create = switch -c
	wm = switch master
	wma = switch main
	wd = switch develop
	d = diff
	dh = diff HEAD
	dh1 = diff HEAD~1
	dh2 = diff HEAD~2
	dm = diff master
	dma = diff main
	dd = diff develop
	pl = pull
	plo = pull origin
	plom = pull origin master
	ploma = pull origin main
	plod = pull origin develop
	f = fetch
	mergef = merge --ff
	l = log --pretty=format:'%C(yellow)%h%Creset [%Cgreen%ad%Creset] %s %Cblue[%an]%Creset %Cred%d' --date=format:'%Y-%m-%d %H:%M'
	ll = log --pretty=format:'%C(yellow)%h%Creset [%Cgreen%ad - %ar%Creset] %s %Cblue[%an]%Creset %Cred%d' --date=format:'%Y-%m-%d %H:%M' --graph
[includeIf "gitdir:~/workspaces/"]
  	path = ~/workspaces/.gitconfig
